.beetles-flex-div {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
}

.beetles {
  min-height:20vw;
  width: 75vw;
  background-color: lightgray;
  /* opacity: .7; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.pokemon-name {
  color: black;
}

.pokemon-pictures {
  height: 20vh;
  min-width: 15vw;
}