.pokemon-flex-div {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
}

.beetles {
  height: 500px;
  width: 75vw;
  background-color: lightgray;
  /* opacity: .7; */
  display: flex;
  justify-content: space-around;
}

.pokemon-name {
  color: black;
}

.pokemon-pictures {
  height: 20vh;
}