#header{
  /* background: lightgray; */
  height: 2.7em;
  font-size:2em;
  height:2em;
  display: flex;
  align-items: center;
  
}
.logo{
  margin-left:1em;
}
button{
  border:none;
  border-radius: 18px;
  background: lightblue;
  height:2em;
  font-size: 1.2em;
  font-weight:400;
}
body{
  color:#212121;
  font-family: 'Germania One', cursive;
}
.middle{
  margin:3em ,0em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.paraPic{
  /* background: lightblue; */
  height:300px;
  width: 100%;
}
.titleCard{
  /* background: lightgoldenrodyellow; */
  min-height: 20vh;
  width: 50vw;
  border-radius: 18px;
  font-size:1.2em;
  font-weight: 600;
  margin-bottom: 1em;
  padding: 2em;
  margin-top:4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.beetleSorter{
  /* background:lightgray; */
  height:50vh;
  width: 75vw;
  display: flex;
  align-items: center;
}

.displayCard{
  /* background: lightcyan; */
  min-height:30vh;
}

.ParaPic{
  width: 100vw;
  height:50vh;
}
#BotPic{
  margin-bottom:3em;
}
.createContainer{
  background:lightgray;
  height:20vh;
  width:40vw;
  border-radius: 18px;
  margin-bottom:2em;
  display: flex;
  flex-direction: column;
  align-items: center
}

.createEdit{
  display:flex;
  align-items: center;
  flex-direction:column;
}
.wilkommen{
  display: flex;
  align-items: center;
  flex-direction: column
}
#midpic{
  min-height:55vh;

}